@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #666;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  height: 60px;
  width: 100%;
  box-shadow: 2px 2px 30px #e9e9e9;
  background-color: white;
}

nav .logo {
  margin-left: 50px;
}

nav .logo P {
  font-size: 23px;
}

nav .hamburger {
  display: none;
  transition: all .5s;
}

nav .hamburger .line {
  transition: all .5s;
  height: 3px;
  width: 20px;
  margin: 3px 0px;
  background-color: #666;
}

nav #line1 {
  transform-origin: top left;
  transform: rotate(35deg);
  width: 22px;
}

nav #line2 {
  visibility: hidden;
}

nav #line3 {
  width: 22px;
  transform: rotate(-35deg);
  transform-origin: bottom left;
}

nav .rightSide {
  z-index: 1000;
  margin-right: 50px;
  transition: .5s;
  max-height: 35px;
  min-height: 35px;
}

nav .rightSide ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

nav .rightSide ul a {
  text-decoration: none;
}

nav .rightSide ul a li {
  font-size: 17px;
  margin-right: 30px;
}

nav .rightSide ul #signBtn {
  margin-right: 30px;
}

nav .rightSide ul #getStartedBtn {
  background-color: #06FE10;
  color: white;
}

button {
  font-size: 17px;
  padding: 6px 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
}

#mainSection {
  margin: 108px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-width: 100vw;
  overflow: visible;
}

#mainSection .textSection {
  overflow: visible;
}

#mainSection .textSection .heading {
  color: black;
  font-size: 48px;
}

#mainSection .textSection .discription {
  margin-top: 17px;
  font-size: 17px;
  font-weight: 500 !important;
  width: 400px;
  margin-left: 15px;
}

#mainSection .textSection .searchSection {
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 12px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 15px;
}

#mainSection .textSection .searchSection:hover {
  box-shadow: 1px 3px 25px #b9b9b9;
}

#mainSection .textSection .searchSection input {
  text-indent: 17px;
  width: 100%;
  font-size: 17px;
  padding: 15px 0px;
  outline: none;
  border: none;
  background-color: white;
  border-radius: 12px 0px 0px 12px;
}

#mainSection .textSection .searchSection i {
  background-color: #06FE10;
  width: 100px;
  height: 54px;
  color: white;
  font-size: 17px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 5px solid white;
}

#mainSection .svgImg {
  width: 500px;
}

#mainSection .svgImg img {
  width: 100%;
}

.sms {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #B0A7E6;
  padding: 25px 0px;
}

.sms .textSection .smsDiscription {
  text-align: center;
  margin-top: 17px;
  font-size: 17px;
  width: 500px;
}

.sms .smssvg {
  width: 350px;
}

.sms .smssvg img {
  width: 100%;
}

.serviceSection {
  margin-bottom: 100px;
  padding: 30px 0px;
  padding-top: 100px;
  width: 100%;
  background-image: url("img/sms.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
}

.serviceSection .cardSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  overflow: visible;
}

.serviceSection .cardSection .card {
  margin: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 240px;
  background-color: white;
  padding: 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 15px;
  transition: all .3s !important;
}

.serviceSection .cardSection .card:hover {
  box-shadow: 1px 3px 25px #b9b9b9;
  margin-top: 10px;
}

.serviceSection .cardSection .card .cardIcon {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: white;
  box-shadow: 2px 5px 25px #cccccc;
}

.serviceSection .cardSection .card .cardIcon img {
  height: 60%;
  width: 60%;
}

.serviceSection .cardSection .card .details {
  width: 92%;
}

.serviceSection .cardSection .card .details p {
  font-size: 17px;
  color: black;
  margin: 15px 0px;
}

.serviceSection .cardSection .card .details span {
  font-size: 14px;
}

.serviceSection .cardSection .card .details .serviceBtn {
  background-color: #7A89BF;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}

.serviceSection .cardSection .card .details .serviceBtn i {
  color: white;
  margin-left: 10px;
  font-size: 12px;
}

.serviceSection .moreServices {
  background-color: #06FE10;
  margin: auto;
  text-align: center;
  color: white;
  margin-top: 10px;
}

.serviceSection .moreServices i {
  color: white;
  font-size: 17px;
  margin-left: 10px;
}

.whatIsSms {
  margin-bottom: 100px;
}

.whatIsSms ul {
  width: 75%;
  margin: auto;
  margin-top: 40px;
}

.whatIsSms ul li {
  margin: 15px 0px;
  display: flex;
}

.whatIsSms ul li i {
  color: #06FE10;
  width: 25px;
  min-width: 25px;
  margin-right: 15px;
  font-size: 17px;
}

.whatIsSms ul li p {
  font-size: 17px;
}

.postSection {
  margin-bottom: 100px;
}

.postSection .posts {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.postSection .posts .postCard {
  overflow: visible;
  cursor: pointer;
  margin: 50px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 15px;
  transition: all .3s !important;
  padding-bottom: 17px;
}

.postSection .posts .postCard:hover {
  box-shadow: 1px 3px 25px #b9b9b9;
  margin-top: 0px;
}

.postSection .posts .postCard img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

.postSection .posts .postCard p {
  font-size: 24px;
  color: black;
  margin: 10px 0px;
}

.postSection .posts .postCard .aboutPost {
  color: #666;
  font-size: 15px;
  margin: auto;
  margin-bottom: 17px;
}

.postSection .posts .postCard a {
  text-decoration: none;
  color: #06FE10;
  font-size: 17px;
  cursor: pointer;
}

.postSection .posts .postCard a i {
  margin-left: 10px;
  font-size: 18px;
  color: #06FE10;
}

#aboutus {
  margin-bottom: 100px;
}

#aboutus .details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
}

#aboutus .details ul {
  margin-right: 40px;
}

#aboutus .details ul li {
  font-size: 17px;
}

#aboutus .details img {
  width: 330px;
}

#footer {
  width: 100vw;
  display: grid;
  grid-template-rows: 10px 220px 55px 40px 10px;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-gap: 15px;
  background-color: #B0A7E6;
}

#footer .footerheading {
  font-size: 24px;
  color: black;
  text-align: center;
}

#footer .footerdiscription {
  font-size: 14px;
}

#footer .topSpace {
  grid-column: 1/5;
}

#footer .footersms {
  margin-left: 30px;
}

#footer .footersms div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}

#footer .footersms div p {
  font-size: 17px;
  color: black;
  text-align: center;
}

#footer .footersms div #footerlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  background-color: #06FE10;
  border-radius: 50%;
  color: white;
}

#footer .footersms p {
  font-size: 17px;
}

#footer .about {
  padding-left: 40px;
}

#footer .about p {
  font-size: 24px;
  color: black;
  margin-bottom: 17px;
  text-align: start;
}

#footer .about a {
  text-decoration: none;
  font-size: 17px;
  display: block;
  color: #666;
  margin: 10px 0px;
  cursor: pointer;
}

#footer .location p {
  margin-bottom: 17px;
  font-size: 24px;
  color: black;
  text-align: start;
}

#footer .location pre {
  font-size: 17px;
}

#footer .getintouch {
  grid-row: 2/6;
  grid-column: 4/5;
  display: flex;
  flex-direction: column;
}

#footer .getintouch p {
  font-size: 24px;
  color: black;
  margin-bottom: 17px;
  text-align: start;
}

#footer .getintouch form input, #footer .getintouch form textarea {
  font-size: 17px;
  padding: 10px;
  width: 90%;
  margin: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
}

#footer .getintouch form input:hover, #footer .getintouch form textarea:hover {
  box-shadow: 0px 1px 7.5px #06FE10;
}

#footer .getintouch form button[type="submit"] {
  color: white;
  background-color: #06FE10;
  margin-left: 5px;
}

#footer .copyright {
  font-size: 17px;
  margin-top: 10px;
  margin-left: 30px;
  grid-column: 1/4;
}

#footer .share {
  grid-column: 1/4;
  margin-left: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

#footer .share a {
  margin: 0px 20px;
}

#footer .share a img {
  width: 50px;
}

#footer .bottomSpace {
  grid-column: 1/5;
}

.primaryHeading {
  color: black;
  font-size: 42px;
  text-align: center;
}

.loginpage {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.loginpage .bgsvg {
  position: absolute;
  height: 250px;
  bottom: -21px;
  width: 450px;
}

.loginpage .background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.loginpage .background img {
  height: 101%;
  width: 99%;
  margin-left: -5px;
}

.loginpage .form {
  margin: 60px auto;
  width: 100%;
  position: relative;
  z-index: 100;
  text-align: center;
}

.loginpage .form img {
  width: 100px;
}

.loginpage .form .loginHeading {
  margin-top: 20px;
  font-size: 36px;
  color: black;
}

.loginpage .form form {
  margin-top: 15px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 330px;
}

.loginpage .form form div {
  border: none;
  margin: 5px;
  border-bottom: 2px solid #b0a7e6;
  width: 330px;
  text-align: start;
}

.loginpage .form form div i {
  position: relative;
  left: 20px;
  color: #818181;
}

.loginpage .form form div input {
  text-indent: 20px;
  font-size: 17px;
  border: none;
  outline: none;
  font-weight: 500 !important;
  margin: 10px;
  background-color: transparent;
}

.loginpage .form form a {
  width: 100%;
  text-align: end;
  margin-top: 10px;
  color: #2c2cff;
}

.loginpage .form form button {
  margin: auto;
  width: 90%;
  font-size: 24px;
  background-color: #06FE10;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 0px;
  color: white;
  margin: 15px 0px;
}

.loginpage .form form p {
  text-align: center;
  color: #707070;
}

.loginpage .form form p a {
  display: inline;
}

@media screen and (max-width: 1024px) {
  #mainSection .textSection .heading {
    font-size: 40px;
  }
  #mainSection .textSection .discription {
    font-size: 15px;
  }
  #mainSection .textSection .searchSection {
    width: 400px;
  }
  #mainSection .textSection .searchSection .searchIcon {
    left: 318px;
  }
  #mainSection .svgImg {
    width: 400px;
  }
  .primaryHeading {
    font-size: 36px;
  }
  .sms .textSection .smsDiscription {
    font-size: 15px;
    width: 400px;
  }
  .sms .smssvg {
    width: 300px;
  }
  .serviceSection .cardSection {
    width: 100%;
  }
  .postSection .posts .postCard {
    margin: 20px;
  }
  #aboutus .details {
    flex-direction: column-reverse;
  }
  #aboutus .details ul {
    margin: 0px;
  }
  #aboutus .details ul li {
    font-size: 15px;
  }
  #aboutus .details img {
    width: 250px;
    margin: 20px 0px;
  }
  #footer {
    grid-template-rows: 10px 220px 400px 55px 40px 10px;
    grid-template-columns: 2fr 1fr 1fr 2fr;
  }
  #footer .footersms {
    grid-column: 1/3;
  }
  #footer .about {
    grid-column: 3/4;
  }
  #footer .location {
    grid-column: 4/5;
    padding-left: 40px;
  }
  #footer .getintouch {
    text-align: center;
    grid-column: 1/5;
    grid-row: 3/4;
  }
  #footer .getintouch p {
    text-align: center;
  }
  #footer .copyright {
    grid-column: 1/5;
    text-align: center;
  }
  #footer .share {
    grid-column: 1/5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #footer .share a img {
    margin: 20px;
  }
  .loginpage .bgsvg {
    height: 180px;
    width: 300px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 900px) {
  #footer {
    grid-gap: 10px;
  }
  #footer .footerheading {
    font-size: 20px;
  }
  #footer .footersms {
    margin-left: 10px;
  }
  #footer .about {
    padding-left: 0px;
  }
  #footer .location {
    padding-left: 20px;
  }
  #footer .getintouch {
    margin-left: 10px;
  }
  #footer .share {
    margin-left: 10px;
  }
  #footer .copyright {
    margin-left: 10px;
  }
}

@media screen and (max-width: 650px) {
  #footer {
    grid-template-rows: 10px 220px 200px 380px 35px 50px 5px;
    grid-template-columns: 1fr 1fr;
  }
  #footer .topSpace {
    grid-column: 1/3;
  }
  #footer .footersms {
    grid-column: 1/3;
  }
  #footer .footersms div {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #footer .footersms div p {
    margin-top: 5px;
    font-size: 20px !important;
  }
  #footer .footersms p {
    text-align: center;
    font-size: 14px;
  }
  #footer .about {
    text-align: center;
    grid-column: 1/2;
    margin-left: 10px;
  }
  #footer .about p {
    text-align: center;
  }
  #footer .about p {
    font-size: 20px;
  }
  #footer .about a {
    font-size: 14px;
  }
  #footer .location {
    padding-left: 0px;
    text-align: center;
    grid-column: 2/3;
    margin-left: 10px;
  }
  #footer .location p {
    font-size: 20px;
    text-align: center;
  }
  #footer .location pre {
    font-size: 14px;
  }
  #footer .getintouch {
    margin-left: 0px;
    grid-column: 1/3;
    grid-row: 4/5;
  }
  #footer .getintouch p {
    font-size: 20px;
    text-align: center;
  }
  #footer .getintouch form {
    text-align: center;
  }
  #footer .getintouch form input, #footer .getintouch textarea {
    font-size: 14px;
  }
  #footer .getintouch form button {
    width: 150px;
  }
  #footer .share {
    grid-column: 1/3;
    overflow: hidden;
  }
  #footer .share a img {
    width: 30px !important;
    height: 30px !important;
  }
  #footer .copyright {
    grid-column: 1/3;
    grid-row: 6/8;
    font-size: 15px;
  }
  #footer .bottomSpace {
    grid-column: 1/3;
  }
}

@media screen and (max-width: 600px) {
  .serviceSection .cardSection .card {
    margin: 10px;
  }
  #aboutus .details img {
    width: 170px;
    margin: 20px;
  }
}

@media screen and (max-width: 800px) {
  nav {
    height: 55px;
  }
  nav .hamburger {
    display: block;
    margin-right: 30px;
    font-size: 24px;
  }
  nav .rightSide {
    overflow: hidden !important;
    min-height: 0px;
    max-height: 0px;
    position: absolute;
    top: 50px;
    background-color: white;
    width: 100vw;
    padding-bottom: 10px;
  }
  nav .rightSide ul {
    width: 100%;
    flex-direction: column;
  }
  nav .rightSide ul a {
    text-align: center;
    width: 100%;
  }
  nav .rightSide ul a li {
    width: 100%;
    padding: 12px 0px;
    color: #7A89BF;
    transition: all .3s;
  }
  nav .rightSide ul a li:hover {
    background-color: #7A89BF;
    color: white;
  }
  nav .rightSide ul #signBtn, nav .rightSide ul #getStartedBtn {
    width: 100vw;
    margin: 8px 0px;
    padding: 12px 0px;
    box-shadow: 1px 1px 40px #e7e7e7;
    border-radius: 0px;
  }
  .primaryHeading {
    font-size: 30px;
  }
  .sms {
    flex-direction: column-reverse;
  }
  .sms .smssvg {
    margin-bottom: 20px;
    width: 250px;
  }
  #mainSection {
    justify-content: center;
    flex-direction: column-reverse;
    margin: 0px;
    margin-bottom: 50px;
  }
  #mainSection .textSection {
    text-align: center;
  }
  #mainSection .textSection .heading {
    font-size: 34px;
  }
  #mainSection .textSection .discription {
    width: 300px;
    margin: auto;
    margin-top: 20px;
  }
  #mainSection .textSection .searchSection {
    margin: auto;
    margin-top: 20px;
  }
  #mainSection .textSection .searchSection input {
    padding: 10px 0px;
  }
  #mainSection .textSection .searchSection i {
    height: 44px;
    border: 4px solid white;
  }
  #mainSection .svgImg {
    width: 250px;
    margin: 20px 0px;
  }
  .whatIsSms ul {
    margin-top: 20px;
    width: 90%;
  }
  .postSection .posts .postCard {
    width: 220px;
  }
  #aboutus .details img {
    width: 200px;
  }
  .loginpage .form {
    margin: 72px auto;
  }
  .loginpage .form .loginHeading {
    font-size: 25px;
  }
  .loginpage .form form button {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  nav {
    height: 50px;
  }
  nav .hamburger {
    margin-right: 15px;
  }
  nav .logo {
    margin-left: 15px;
  }
  #mainSection {
    justify-content: center;
    flex-direction: column-reverse;
  }
  #mainSection .textSection .heading {
    font-size: 28px;
  }
  #mainSection .textSection .searchSection {
    width: 350px;
  }
  #mainSection .textSection .searchSection input {
    padding: 10px 0px;
  }
  #mainSection .textSection .searchSection i {
    height: 44px;
    border: 4px solid white;
  }
  #mainSection .svgImg {
    width: 200px;
    margin: 20px 0px;
  }
  #aboutus .details ul li {
    font-size: 14px;
  }
  #aboutus .details img {
    width: 130px;
  }
  #footer .location {
    padding-left: 0px;
  }
  #footer .share a {
    margin: 0px 5px;
  }
  .loginpage {
    padding-top: 90px;
  }
  .loginpage .bgsvg {
    position: absolute;
    top: -7px;
    left: 45px;
    margin: 10px auto;
    height: 170px;
    width: 300px;
  }
}

@media screen and (max-width: 400px) {
  #mainSection {
    justify-self: center;
  }
  #mainSection .textSection .searchSection {
    width: 300px;
    margin: auto;
    margin-top: 20px;
  }
  .sms .textSection .smsDiscription {
    width: 300px;
  }
  nav .rightSide {
    padding-bottom: 5px;
  }
  nav .rightSide ul a li {
    font-size: 15px;
    padding: 8px 0px;
  }
  nav #signBtn, nav #getStartedBtn {
    padding: 8px 0px;
  }
  .loginpage .form form {
    width: 280px;
  }
  .loginpage .form form div {
    width: 280px;
  }
}

@media screen and (max-width: 350px) {
  #mainSection {
    justify-self: center;
  }
  #mainSection .textSection .heading {
    font-size: 24px;
  }
  #mainSection .textSection .discription {
    width: 250px;
  }
  #mainSection .textSection .searchSection {
    margin-top: 20px;
    width: 270px;
    margin: auto;
  }
  .primaryHeading {
    font-size: 24px;
  }
  .sms .textSection .smsDiscription {
    font-size: 14px;
    width: 220px;
    margin: auto;
    margin-top: 10px;
  }
  .sms .smssvg {
    width: 170px;
  }
  #footer {
    grid-template-rows: 10px 250px 180px 150px 380px 35px 50px 5px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
  #footer .topSpace {
    grid-column: 1/3;
    margin-left: 5px;
  }
  #footer .footersms {
    grid-column: 1/3;
    margin-left: 5px;
  }
  #footer .footersms div {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #footer .footersms p {
    text-align: center;
  }
  #footer .about {
    grid-column: 1/3;
    margin-left: 5px;
  }
  #footer .location {
    grid-column: 1/3;
    margin-left: 5px;
  }
  #footer .getintouch {
    grid-column: 1/3;
    grid-row: 5/6;
    margin-left: 5px;
  }
  #footer .share {
    grid-column: 1/3;
    overflow: hidden;
  }
  #footer .share a img {
    width: 30px !important;
    height: 30px !important;
  }
  #footer .copyright {
    grid-column: 1/3;
    grid-row: 7/9;
  }
  #footer .bottomSpace {
    grid-column: 1/3;
  }
  .loginpage .bgsvg {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  #footer {
    grid-template-rows: 10px 280px 180px 150px 380px 35px 50px 5px;
  }
  .loginpage .form form {
    width: 220px;
  }
  .loginpage .form form div {
    width: 220px;
  }
  .loginpage .form form div i {
    left: 10px;
  }
  .loginpage .form form div input {
    width: 80%;
  }
}
